body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: YS Text, Arial, sans-serif;
}

button {
  border: none;
  outline: none;
  font-family: YS Text, Arial, sans-serif;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  font-family: YS Text, Arial, sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
}