* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

button {
  border: none;
  outline: none; }

body {
  font-family: YS Text, Arial, Helvetica, sans-serif; }

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"), url("//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2") format("woff2"), url("//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2") format("woff2"), url("//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.button {
  border-radius: 4px;
  padding: 0 18px;
  display: inline-block;
  color: #000000;
  font-family: YS Text, sans-serif;
  font-size: 13px;
  line-height: 32px; }
  .button:disabled {
    background-color: #F2F2F2; }
  .button_control {
    background-color: #E6E6E6;
    border: 2px solid #E6E6E6; }
    .button_control:hover {
      background-color: #DBDBDB;
      border-color: #DBDBDB; }
    .button_control:focus {
      outline: none;
      border-color: #B3B3B3;
      border-radius: 4px; }
  .button_action {
    background-color: #FFCC00;
    border: 2px solid #FFCC00; }
    .button_action:focus {
      outline: none;
      border-color: #B38F00;
      border-radius: 4px; }
    .button_action:hover {
      background-color: #F2C200;
      border-color: #F2C200; }
  .button_small {
    padding: 0 11px;
    line-height: 24px; }

@media only screen and (max-width: 500px) {
  .button {
    width: 100%; }
    .button:first-child {
      margin-bottom: 12px; } }

.button-group {
  margin-top: 12px;
  margin-bottom: 20px;
  display: flex; }
  .button-group_arrangement_horizontal {
    flex-direction: row; }
    .button-group_arrangement_horizontal .button:first-child {
      margin-right: 8px; }
  .button-group_arrangement_vertical {
    flex-direction: column; }
    .button-group_arrangement_vertical .button:first-child {
      margin-bottom: 8px; }

@media only screen and (max-width: 500px) {
  .button-group {
    flex-direction: column; } }

.text {
  font-family: YS Text, Arial, Helvetica, sans-serif; }
  .text_size_xs {
    font-size: 10px; }
  .text_size_s {
    font-size: 13px; }
  .text_size_m {
    font-size: 15px; }
  .text_size_l {
    font-size: 18px; }
  .text_size_xl {
    font-size: 24px; }
  .text_weight_normal {
    font-weight: 400; }
  .text_weight_medium {
    font-weight: 500; }
  .text_weight_bold {
    font-weight: 700; }
  .text_line-height_xxs {
    line-height: 15px; }
  .text_line-height_xs {
    line-height: 16px; }
  .text_line-height_s {
    line-height: 18px; }
  .text_line-height_m {
    line-height: 20px; }
  .text_line-height_l {
    line-height: 22px; }
  .text_line-height_xl {
    line-height: 28px; }
  .text_line-height_xxl {
    line-height: 30px; }
  .text_line-height_xxxl {
    line-height: 36px; }
  .text_letter-spacing_narrow {
    letter-spacing: 0.06px; }
  .text_color_default {
    color: #000000; }
  .text_color_secondary {
    color: #595959; }
  .text_color_muted {
    color: #7f8285; }
  .text_color_red {
    color: #FF3333; }
  .text_color_success {
    color: #00B341; }
  .text_color_warning {
    color: #FF9A00; }
  .text_color_danger {
    color: #FF3333; }
  .text_align_center {
    text-align: center; }

.input-form {
  margin-top: 8px; }
  .input-form__title {
    margin-bottom: 8px; }
  .input-form__description {
    margin-bottom: 12px; }

@media only screen and (max-width: 500px) {
  .input-form__description {
    width: 210px; }
  .input-form {
    margin-top: 14px; }
    .input-form__description {
      margin-bottom: 3px; } }

.form-group {
  padding: 10px 0 6px; }
  .form-group__label {
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 8px; }
  .form-group__input-wrapper {
    position: relative;
    width: 100%;
    max-width: 474px; }
  .form-group__input {
    display: block;
    border: 2px solid #D9D9D9;
    border-radius: 4px;
    padding: 9px 13px 8px; }
    .form-group__input:focus {
      border: 2px solid #B3B3B3;
      outline: none; }
    .form-group__input_full-width {
      width: 100%; }
    .form-group__input_small {
      max-width: 52px;
      margin-right: 8px;
      text-align: right; }
    .form-group__input + .form-group__clear-icon {
      display: none; }
    .form-group__input:not(:placeholder-shown) + .form-group__clear-icon {
      display: block; }
  .form-group__clear-icon {
    position: absolute;
    top: calc(50% - 16px/2);
    left: calc(100% - 2*16px);
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16C3.6 16 0 12.4 0 8C0 3.6 3.6 0 8 0C12.4 0 16 3.6 16 8C16 12.4 12.4 16 8 16ZM12 5.12L10.88 4L8 6.88L5.12 4L4 5.12L6.88 8L4 10.88L5.12 12L8 9.12L10.88 12L12 10.88L9.12 8L12 5.12Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A"); }
  .form-group_inline {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 0; }
    .form-group_inline .form-group__label {
      margin-bottom: 0; }

@media only screen and (max-width: 500px) {
  .form-group_inline {
    padding: 10px 0 8px; } }

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.margin_b_xl {
  margin-bottom: 20px; }

.header {
  width: 100%;
  padding: 0 16px; }
  .header__content {
    padding: 10px 0;
    display: flex; }
  .header__header-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.25px;
    word-break: break-all; }
    .header__header-title_type_1 {
      line-height: 28px;
      color: #7f8285; }
    .header__header-title_type_2 {
      line-height: 30px;
      color: #000000; }
  .header__button {
    border-radius: 4px;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    height: 28px;
    min-width: 28px;
    margin-left: 8px; }
    .header__button-group {
      display: flex; }
    .header__button-icon {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .header__button-icon_settings {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4658 7.44193L10.4352 6.84677C10.5392 6.28548 10.5392 5.70968 10.4352 5.14839L11.4658 4.55323C11.5844 4.48549 11.6376 4.34517 11.5989 4.21452C11.3303 3.35324 10.8731 2.57421 10.2755 1.92582C10.1836 1.82663 10.0336 1.80244 9.91745 1.87018L8.88681 2.46534C8.45374 2.09276 7.95536 1.80485 7.41585 1.61615V0.428247C7.41585 0.292763 7.32149 0.174216 7.18843 0.145183C6.30053 -0.0532029 5.39085 -0.0435256 4.5465 0.145183C4.41344 0.174216 4.31908 0.292763 4.31908 0.428247V1.61856C3.78199 1.80969 3.2836 2.0976 2.84812 2.46776L1.8199 1.8726C1.70135 1.80485 1.55377 1.82663 1.46184 1.92824C0.864258 2.57421 0.407002 3.35324 0.138454 4.21694C0.0973256 4.34759 0.152971 4.48791 0.271518 4.55565L1.30216 5.15081C1.19813 5.7121 1.19813 6.2879 1.30216 6.84919L0.271518 7.44435C0.152971 7.51209 0.0997449 7.65241 0.138454 7.78306C0.407002 8.64434 0.864258 9.42337 1.46184 10.0718C1.55377 10.171 1.70377 10.1951 1.8199 10.1274L2.85054 9.53224C3.2836 9.90482 3.78199 10.1927 4.3215 10.3814V11.5718C4.3215 11.7072 4.41586 11.8258 4.54892 11.8548C5.43682 12.0532 6.3465 12.0435 7.19085 11.8548C7.32391 11.8258 7.41827 11.7072 7.41827 11.5718V10.3814C7.95536 10.1903 8.45374 9.9024 8.88923 9.53224L9.91987 10.1274C10.0384 10.1951 10.186 10.1734 10.2779 10.0718C10.8755 9.42579 11.3328 8.64676 11.6013 7.78306C11.6376 7.64999 11.5844 7.50967 11.4658 7.44193ZM5.86747 7.93306C4.80053 7.93306 3.93199 7.06451 3.93199 5.99758C3.93199 4.93065 4.80053 4.0621 5.86747 4.0621C6.9344 4.0621 7.80294 4.93065 7.80294 5.99758C7.80294 7.06451 6.9344 7.93306 5.86747 7.93306Z' fill='%23111111'/%3E%3C/svg%3E%0A");
        width: 12px;
        height: 12px;
        margin: 0 8px; }
      .header__button-icon_play {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.28873 4.19256L1.41401 0.128275C0.855434 -0.20179 0 0.11851 0 0.934883V9.06151C0 9.7939 0.79489 10.2353 1.41401 9.86811L8.28873 5.80578C8.90198 5.44447 8.90394 4.55388 8.28873 4.19256Z' fill='%23111111'/%3E%3C/svg%3E%0A");
        width: 8.75px;
        height: 10px;
        margin: 0 10px; }
      .header__button-icon_rebuild {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.77548 3.03097C8.01915 2.32277 7.03761 1.93456 5.99632 1.93548C4.12234 1.93713 2.50452 3.22205 2.05783 5.00444C2.02531 5.13419 1.90972 5.22581 1.77595 5.22581H0.389589C0.208185 5.22581 0.070379 5.06112 0.103935 4.88284C0.627411 2.103 3.06806 0 6 0C7.60761 0 9.06752 0.632322 10.1447 1.66173L11.0088 0.797661C11.3746 0.431879 12 0.690944 12 1.20825V4.45161C12 4.7723 11.74 5.03226 11.4194 5.03226H8.17599C7.65869 5.03226 7.39962 4.40683 7.7654 4.04102L8.77548 3.03097ZM0.580645 6.96774H3.82401C4.34131 6.96774 4.60038 7.59317 4.2346 7.95898L3.22452 8.96906C3.98085 9.67727 4.96246 10.0655 6.00377 10.0645C7.87679 10.0628 9.49527 8.7788 9.94217 6.99561C9.97468 6.86586 10.0903 6.77424 10.224 6.77424H11.6104C11.7918 6.77424 11.9296 6.93893 11.8961 7.11721C11.3726 9.897 8.93194 12 6 12C4.39239 12 2.93248 11.3677 1.85528 10.3383L0.99121 11.2023C0.625427 11.5681 0 11.3091 0 10.7917V7.54839C0 7.2277 0.25996 6.96774 0.580645 6.96774Z' fill='black'/%3E%3C/svg%3E%0A");
        width: 12px;
        height: 12px;
        margin: 0 8px; }
    .header__button-label {
      margin: 0 13px 0 -2.5px;
      white-space: nowrap; }

@media only screen and (max-width: 500px) {
  .header__content {
    padding: 12px 0; }
  .header__header-title {
    font-size: 18px; }
    .header__header-title_type_1, .header__header-title_type_2 {
      line-height: 22px; }
  .header__button-label {
    display: none; } }

.config-info {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(-25px); }
  .config-info__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .config-info__content .text {
      margin-top: 32px;
      width: 210px; }
  .config-info__action {
    display: flex; }
    .config-info__action_align_center {
      justify-content: center; }
    .config-info__action .button {
      margin-top: 24px; }
  .config-info__button {
    padding: 9px 20px; }

@media only screen and (max-width: 500px) {
  .config-info .button {
    width: auto; } }

.footer {
  width: 100%;
  padding: 0 16px;
  background-color: #F0F2F3;
  flex-shrink: 0; }
  .footer__content {
    padding: 7px 0;
    display: flex;
    align-items: center; }
  .footer__link {
    margin-right: 12px;
    font-size: 13px;
    line-height: 16px;
    color: #7f8285;
    letter-spacing: 0.06px; }
    .footer__link:hover {
      color: #FF3333; }
  .footer__text {
    font-size: 13px;
    line-height: 18px;
    color: #7f8285;
    letter-spacing: 0.06px; }

@media only screen and (max-width: 500px) {
  .footer__content {
    padding: 12px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
  .footer__text {
    margin-top: 8px; } }

.commit-history {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column; }

.commit {
  display: flex;
  margin-top: 8px;
  padding: 12px 24px;
  box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  border-radius: 6px; }
  .commit__wrapper {
    display: flex; }
  .commit:hover {
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3); }
  .commit__status {
    width: 21px;
    height: 21px;
    min-width: 21px; }
    .commit__status_done {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6562 12C22.6562 17.8853 17.8853 22.6562 12 22.6562C6.1147 22.6562 1.34375 17.8853 1.34375 12C1.34375 6.1147 6.1147 1.34375 12 1.34375C17.8853 1.34375 22.6562 6.1147 22.6562 12ZM10.7674 17.6424L18.6736 9.73615C18.9421 9.46768 18.9421 9.03236 18.6736 8.76389L17.7014 7.79164C17.4329 7.52313 16.9976 7.52313 16.7291 7.79164L10.2812 14.2394L7.2709 11.2291C7.00243 10.9606 6.56712 10.9606 6.29861 11.2291L5.32635 12.2014C5.05788 12.4698 5.05788 12.9051 5.32635 13.1736L9.7951 17.6424C10.0636 17.9109 10.4989 17.9109 10.7674 17.6424Z' fill='%2300B341'/%3E%3C/svg%3E"); }
    .commit__status_fail {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.34375C6.11328 1.34375 1.34375 6.11328 1.34375 12C1.34375 17.8867 6.11328 22.6562 12 22.6562C17.8867 22.6562 22.6562 17.8867 22.6562 12C22.6562 6.11328 17.8867 1.34375 12 1.34375ZM17.225 14.7973C17.427 14.9992 17.427 15.3258 17.225 15.5277L15.5234 17.225C15.3215 17.427 14.9949 17.427 14.793 17.225L12 14.4062L9.20273 17.225C9.00078 17.427 8.67422 17.427 8.47227 17.225L6.775 15.5234C6.57305 15.3215 6.57305 14.9949 6.775 14.793L9.59375 12L6.775 9.20273C6.57305 9.00078 6.57305 8.67422 6.775 8.47227L8.47656 6.7707C8.67852 6.56875 9.00508 6.56875 9.20703 6.7707L12 9.59375L14.7973 6.775C14.9992 6.57305 15.3258 6.57305 15.5277 6.775L17.2293 8.47656C17.4312 8.67852 17.4312 9.00508 17.2293 9.20703L14.4062 12L17.225 14.7973Z' fill='%23FF3333'/%3E%3C/svg%3E"); }
    .commit__status_in-progress {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0C4.92339 0 0 4.92339 0 11C0 17.0766 4.92339 22 11 22C17.0766 22 22 17.0766 22 11C22 4.92339 17.0766 0 11 0ZM15.1024 13.8831L14.2153 14.9919C14.1571 15.0647 14.0851 15.1253 14.0034 15.1703C13.9218 15.2153 13.8321 15.2437 13.7395 15.254C13.6468 15.2643 13.5531 15.2562 13.4636 15.2303C13.3741 15.2044 13.2905 15.161 13.2177 15.1028L10.246 12.8975C10.0383 12.7313 9.87072 12.5204 9.75555 12.2807C9.64039 12.0409 9.58061 11.7783 9.58064 11.5123V4.6129C9.58064 4.42469 9.65541 4.24418 9.7885 4.11109C9.92159 3.978 10.1021 3.90323 10.2903 3.90323H11.7097C11.8979 3.90323 12.0784 3.978 12.2115 4.11109C12.3446 4.24418 12.4194 4.42469 12.4194 4.6129V11L14.9919 12.8851C15.0647 12.9433 15.1254 13.0154 15.1703 13.0971C15.2153 13.1787 15.2437 13.2685 15.254 13.3612C15.2642 13.4539 15.2561 13.5477 15.2301 13.6372C15.2041 13.7268 15.1607 13.8103 15.1024 13.8831Z' fill='%23FF9A00'/%3E%3C/svg%3E%0A"); }
  .commit__content {
    padding-left: 9px;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between; }
    .commit__content_time-at-bottom {
      flex-direction: column; }
  .commit__details {
    display: flex;
    flex-direction: column;
    min-width: 0; }
  .commit__main-info {
    display: flex; }
  .commit__id {
    margin-right: 4px;
    margin-bottom: 8px; }
  .commit__message {
    margin-bottom: 8px; }
  .commit__meta-info {
    display: flex; }
  .commit__branch {
    display: flex;
    align-items: center; }
    .commit__branch-logo {
      width: 16px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.2 4C3.2 4.27 3.2225 4.5375 3.265 4.8H0.3C0.135 4.8 0 4.665 0 4.5V3.5C0 3.335 0.135 3.2 0.3 3.2H3.265C3.2225 3.4625 3.2 3.73 3.2 4ZM15.7 3.2H12.735C12.78 3.4625 12.8 3.73 12.8 4C12.8 4.27 12.7775 4.5375 12.735 4.8H15.7C15.865 4.8 16 4.665 16 4.5V3.5C16 3.335 15.865 3.2 15.7 3.2ZM8 1.2C7.2525 1.2 6.55 1.4925 6.02 2.02C5.49 2.55 5.2 3.2525 5.2 4C5.2 4.7475 5.49 5.45 6.02 5.98C6.55 6.5075 7.2525 6.8 8 6.8C8.7475 6.8 9.45 6.5075 9.98 5.98C10.51 5.45 10.8 4.7475 10.8 4C10.8 3.2525 10.51 2.55 9.98 2.02C9.45 1.4925 8.7475 1.2 8 1.2ZM8 0C10.21 0 12 1.79 12 4C12 6.21 10.21 8 8 8C5.79 8 4 6.21 4 4C4 1.79 5.79 0 8 0Z' fill='%23b3b3b3'/%3E%3C/svg%3E%0A");
      margin-right: 4px; }
  .commit__branch-name {
    margin-right: 4px; }
  .commit__hash {
    margin-right: 10px; }
  .commit__author {
    display: flex;
    align-items: center; }
    .commit__author .text {
      white-space: nowrap; }
    .commit__author-icon {
      width: 12.25px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.125 7C8.0582 7 9.625 5.4332 9.625 3.5C9.625 1.5668 8.0582 0 6.125 0C4.1918 0 2.625 1.5668 2.625 3.5C2.625 5.4332 4.1918 7 6.125 7ZM8.575 7.875H8.11836C7.51133 8.15391 6.83594 8.3125 6.125 8.3125C5.41406 8.3125 4.74141 8.15391 4.13164 7.875H3.675C1.64609 7.875 0 9.52109 0 11.55V12.6875C0 13.4121 0.587891 14 1.3125 14H10.9375C11.6621 14 12.25 13.4121 12.25 12.6875V11.55C12.25 9.52109 10.6039 7.875 8.575 7.875Z' fill='%23b3b3b3'/%3E%3C/svg%3E%0A");
      margin-right: 5.75px; }
  .commit__time-info {
    display: flex;
    flex-direction: column; }
    .commit__time-info_inline {
      flex-direction: row;
      margin-top: 8px;
      padding-top: 10px;
      border-top: 1px solid #F0F2F3; }
      .commit__time-info_inline .commit__time {
        margin-right: 9px;
        margin-bottom: 0; }
  .commit__time {
    display: flex;
    white-space: nowrap;
    margin-bottom: 12px; }
  .commit__calendar-logo {
    width: 13.95px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.60806 9H3.36264C3.15714 9 2.98901 8.83125 2.98901 8.625V7.375C2.98901 7.16875 3.15714 7 3.36264 7H4.60806C4.81355 7 4.98169 7.16875 4.98169 7.375V8.625C4.98169 8.83125 4.81355 9 4.60806 9ZM7.9707 8.625V7.375C7.9707 7.16875 7.80256 7 7.59707 7H6.35165C6.14615 7 5.97802 7.16875 5.97802 7.375V8.625C5.97802 8.83125 6.14615 9 6.35165 9H7.59707C7.80256 9 7.9707 8.83125 7.9707 8.625ZM10.9597 8.625V7.375C10.9597 7.16875 10.7916 7 10.5861 7H9.34066C9.13517 7 8.96703 7.16875 8.96703 7.375V8.625C8.96703 8.83125 9.13517 9 9.34066 9H10.5861C10.7916 9 10.9597 8.83125 10.9597 8.625ZM7.9707 11.625V10.375C7.9707 10.1687 7.80256 10 7.59707 10H6.35165C6.14615 10 5.97802 10.1687 5.97802 10.375V11.625C5.97802 11.8313 6.14615 12 6.35165 12H7.59707C7.80256 12 7.9707 11.8313 7.9707 11.625ZM4.98169 11.625V10.375C4.98169 10.1687 4.81355 10 4.60806 10H3.36264C3.15714 10 2.98901 10.1687 2.98901 10.375V11.625C2.98901 11.8313 3.15714 12 3.36264 12H4.60806C4.81355 12 4.98169 11.8313 4.98169 11.625ZM10.9597 11.625V10.375C10.9597 10.1687 10.7916 10 10.5861 10H9.34066C9.13517 10 8.96703 10.1687 8.96703 10.375V11.625C8.96703 11.8313 9.13517 12 9.34066 12H10.5861C10.7916 12 10.9597 11.8313 10.9597 11.625ZM13.9487 3.5V14.5C13.9487 15.3281 13.2793 16 12.4542 16H1.49451C0.669414 16 0 15.3281 0 14.5V3.5C0 2.67188 0.669414 2 1.49451 2H2.98901V0.375C2.98901 0.16875 3.15714 0 3.36264 0H4.60806C4.81355 0 4.98169 0.16875 4.98169 0.375V2H8.96703V0.375C8.96703 0.16875 9.13517 0 9.34066 0H10.5861C10.7916 0 10.9597 0.16875 10.9597 0.375V2H12.4542C13.2793 2 13.9487 2.67188 13.9487 3.5ZM12.4542 14.3125V5H1.49451V14.3125C1.49451 14.4156 1.57857 14.5 1.68132 14.5H12.2674C12.3701 14.5 12.4542 14.4156 12.4542 14.3125Z' fill='%23cecece'/%3E%3C/svg%3E%0A");
    margin-right: 5.05px; }
  .commit__duration {
    display: flex;
    white-space: nowrap; }
  .commit__stopwatch-logo {
    width: 12.97px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2789 5.75L12.9834 5.04375C13.1299 4.89687 13.1299 4.65937 12.9834 4.5125L12.4535 3.98125C12.307 3.83438 12.07 3.83438 11.9235 3.98125L11.2783 4.62813C10.3088 3.76875 9.08371 3.19375 7.73082 3.04063V1.5H8.60365C8.80939 1.5 8.97772 1.33125 8.97772 1.125V0.375C8.97772 0.16875 8.80939 0 8.60365 0H5.3617C5.15596 0 4.98763 0.16875 4.98763 0.375V1.125C4.98763 1.33125 5.15596 1.5 5.3617 1.5H6.23454V3.04375C3.00506 3.41563 0.498779 6.1625 0.498779 9.5C0.498779 13.0906 3.40095 16 6.98268 16C10.5644 16 13.4666 13.0906 13.4666 9.5C13.4666 8.10312 13.027 6.80937 12.2789 5.75ZM6.98268 14.5C4.22702 14.5 1.99506 12.2625 1.99506 9.5C1.99506 6.7375 4.22702 4.5 6.98268 4.5C9.73833 4.5 11.9703 6.7375 11.9703 9.5C11.9703 12.2625 9.73833 14.5 6.98268 14.5ZM7.35675 11H6.60861C6.40287 11 6.23454 10.8313 6.23454 10.625V6.375C6.23454 6.16875 6.40287 6 6.60861 6H7.35675C7.56249 6 7.73082 6.16875 7.73082 6.375V10.625C7.73082 10.8313 7.56249 11 7.35675 11Z' fill='%23cecece'/%3E%3C/svg%3E%0A");
    margin-right: 5.53px; }

@media only screen and (max-width: 500px) {
  .commit {
    padding: 12px 16px; }
    .commit:nth-child(n+6) {
      display: none; }
    .commit__status {
      width: 15px;
      height: 15px;
      min-width: 15px; }
    .commit__content {
      flex-direction: column; }
    .commit__main-info {
      flex-direction: column; }
    .commit__id {
      font-size: 16px;
      line-height: 16px; }
    .commit__meta-info {
      flex-direction: column; }
    .commit__author {
      margin-top: 8px; }
    .commit__time-info {
      margin-top: 8px;
      padding-top: 10px;
      flex-direction: row;
      border-top: 1px solid #F0F2F3; }
    .commit__time {
      margin-right: 9px;
      margin-bottom: 0; } }

.webpack-log {
  padding: 8px 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  overflow-x: auto;
  background-color: #F2F2F2;
  font-family: Hack, monospace;
  font-size: 10px;
  line-height: 20px; }

@media only screen and (max-width: 500px) {
  .webpack-log {
    margin-left: -16px; } }

.container {
  max-width: 826px;
  margin: auto; }
  .container_distribute_between {
    display: flex;
    justify-content: space-between; }

.page-content {
  flex: 1;
  padding: 0 16px; }
  .page-content_vertical-align_center {
    display: flex;
    align-items: center; }

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

